.truncated-text {
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;   
    width: 205px;        
    color: #606a92;   
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
  }
 